button {
  background-color: blue;
  color: white;
  font-size: 10px;

  cursor: pointer;
}
input {
  background-color: lightgray;
  font-size: 10px;
  color: grey;
  text-transform: capitalize;
  padding-left: 10px;
}
input,
button {
  border-radius: 8px;
  margin: 1%;
  border: 1px solid gray;
  height: 30px;
}
.title,
.main {
  display: flex;
  margin-left: 15%;
  margin-right: 15%;
  align-items: center;
}
hr {
  border-top: 1px solid gray;

  margin: 1% 15%;
}

.main {
  margin-bottom: 5%;
}
.search {
  width: 60%;
}
.nameadd,
.phonenumberadd {
  width: 40%;
}
.add {
  width: 20%;
}
.searchButton,
.deletebutton {
  width: 20%;
}
