body {
  color: #000;
  font-weight: 400;
  font-size: 14px;
  font-family: "Roboto", "segoe ui", Helvetica, Arial, sans-serif;
  line-height: 1.5;
}
.titleList {
  font-family: "Open Sans", "segoe ui", Helvetica, Arial, sans-serif;
  font-size: 26px;
  font-weight: 300;
  text-transform: uppercase;
  color: purple;
  padding-left: 8px;
}
.list {
  background-color: none;
  width: 650px;
  margin-left: 20px;
  overflow: hidden;
}

.item {
  box-sizing: border-box;
  background-color: none;
  position: relative;
  min-height: 150px;
  width: 25%;
  float: left;
  margin-bottom: 5%;
  padding: 0 8px;
}
.img {
  position: relative;
  max-width: 100%;
  margin-bottom: 8px;
}
.bigText {
  font-size: 100%;
  margin: 0;
  padding: 0;
  font-weight: 400;
}
.smallText {
  font-size: 12px;
  margin: 0;
  padding: 0;
  color: #888;
  font-weight: 400;
}
