* {
  box-sizing: border-box;
  margin: 0 auto;
}

button {
  display: block;
  margin-top: 100px;
}
.light {
  display: flex;
  justify-content: center;
}
.dot {
  margin: 1%;
  height: 25px;
  width: 25px;
  border: 1px solid black;
  border-radius: 50%;
}
